*
{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    grid-area: nav;
    display: flex;
    flex-direction: column;
}


.barcalogo{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 140px;
    height: 38px;
    border: 2px solid rgb(107, 23, 163); 
}

    .nav i{
    display: flex;
    flex-direction: column;
    width:50px;
    border: 2px solid rgb(4, 49, 3); 
}

aside{
    grid-area: aside;
}

main{
    display: grid;
    grid-template-areas: 
        'nav nav'
        'aside section'
        'footer footer'
    ;
    height: 100vh;
    grid-template-columns: 18% auto;
    grid-template-rows: 7% auto 6%;
    background-color: brown;

}

.leftcontainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-top: 5px;
    border: 2px solid rgb(29, 173, 24); 
}

.Categorias{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(9, 66, 104); 
}
.Categoria1{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(9, 66, 104); 
}
.Categoria2{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(9, 66, 104); 
}
.Categoria3{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(9, 66, 104); 
}
.Categoria4{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(9, 66, 104); 
}
.Categoria5{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(9, 66, 104); 
}

.seccion{
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 90vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin-top: 3px;
}

.description{
    font-size: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.estado{
    font-size: 8px;
    color: rgb(129, 130, 131);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.product1 {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;

}
.product1 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product2 {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product2 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product3 {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product3 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product4 {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product4 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product5 {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product5 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product6 {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product6 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product7 {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product7 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product8 {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product8 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product9 {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product9 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product10 {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product10 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

button{
    border: none;
    border-radius: 10px;
    background-color: rgb(238, 196, 7);
    cursor: pointer;
    margin: 0.5rem;
    height: 30px;
    width: 130px;
    font-size:10px;
    text-align: center;
}

footer{
    height: 20px;
    background-color: rgb(75, 192, 60);
}