*
{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: black;
    grid-area: nav;
}

.barra{
    display: flex;
    flex-direction: row;
    width: 95%;
}

.barcalogo{
    margin-left: 30px;
    width: 60px;
    height: 38px;
}

nav p{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    padding: 3px;
    text-align: center;
    justify-content: center ;
    color: white;
    font-size: 15px;
}

.navizquierdo{
    display: flex;
    flex-direction: row;
    width: 15%;
}

.carrito{
    margin: 10px;
    padding: 2px;
    justify-content: right;

}

.account{
    margin: 10px;
    padding: 2px;
    justify-content: right;

}

.find{
    margin: 10px;
    padding: 2px;
    justify-content: right;
}

.language{
    margin: 10px;
    padding: 2px;
    justify-content: right;
}

aside{
    grid-area: aside;
}

main{
    display: grid;
    grid-template-areas: 
        'nav nav'
        'aside section'
        'footer footer'
    ;
    height: 100vh;
    grid-template-columns: 18% auto;
    grid-template-rows: 7% auto 6%;
    background-color: brown;

}

.leftcontainer{
    display: flexbox;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    width: 200px;
    margin-top: 5px;
}

.menu-desplegable{
    display: block;
}

.Categoria1{
    display: flexbox;
    flex-direction: column;
    height: 30px;
    justify-content: center;
    text-align: center;
    padding: 5px;

}
.Categoria2{
    display: flexbox;
    flex-direction: column;
    height: 30px;
    padding: 5px;

}
.Categoria3{
    display: flexbox;
    flex-direction: column;
    height: 30px;
    padding: 5px;

}
.Categoria4{
    display: flexbox;
    flex-direction: column;
    height: 30px;
    padding: 5px;
}
.Categoria5{
    display: flexbox;
    flex-direction: column;
    height: 30px;
    padding: 5px;

}

.Categoria6{
    display: flexbox;
    flex-direction: column;
    height: 30px;
    padding: 5px;
}

.Categoria7{
    display: flexbox;
    flex-direction: column;
    height: 30px;
    padding: 5px;
}

.Categoria8{
    display: flexbox;
    flex-direction: column;
    height: 30px; 
    padding: 5px;
}

.seccion{
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 90vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    margin-top: 3px;
}

.description{
    font-size: 10px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.estado{
    font-size: 10px;
    color: rgb(129, 130, 131);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.product1 {
    width: 85%;
    height: 85%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;


}
.product1 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product2 {
    width: 85%;
    height: 85%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product2 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product3 {
    width: 85%;
    height: 85%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product3 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product4 {
    width: 85%;
    height: 85%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product4 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product5 {
    width: 85%;
    height: 85%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product5 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product6 {
    width: 85%;
    height: 85%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product6 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product7 {
    width: 85%;
    height: 85%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product7 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product8 {
    width: 85%;
    height: 85%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product8 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product9 {
    width: 85%;
    height: 85%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product9 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

.product10 {
    width: 85%;
    height: 85%;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
}
.product10 img{
    margin: 0.5rem;
    width: 85%;
    height: 85%;

}

button{
    border: none;
    border-radius: 10px;
    background-color: rgb(238, 196, 7);
    cursor: pointer;
    margin: 0.5rem;
    height: 30px;
    width: 130px;
    font-size:10px;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #181733;
}

footer p{
    display: flex;
    flex-direction: rows;
    color: white;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.copyright{
    display: flex;
    flex-direction: rows;
    justify-content: center;
    text-align: center;
    padding: 3px;
    width: 50%;
    font-size: 15px;
}

.right{
    justify-content: center;
    text-align: center;
}

.pay-methods{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
}

.visa{
    margin: 10px;
    padding: 3px;
}

.mastercard{
    margin: 10px;
    padding: 3px;
}

.gpay{
    margin: 10px;
    padding: 3px;
}

.ipay{
    margin: 10px;
    padding: 3px;
}

.apay{
    margin: 10px;
    padding: 3px;
}